### --- Docker Container ---
CONTAINER_NAME=sdt-ctn
COMPOSE_PROJECT_NAME=sdt-prj
SITE_DOMAIN=localhost


### --- База данных (PostgreSQL) ---
DB_PGSQL_PATH=./docker-data/dockDB/pgsql-data/
POSTGRES_HOST=database
POSTGRES_USER=sdt_user
POSTGRES_PASSWORD=sdt_user.pass
POSTGRES_DB=sdt_db
POSTGRES_VERSION=16

ADMINER_PORT=7011
